.Jobs-container {
  width: 70vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.Jobs-heading {
  margin: 40px auto;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: goldenrod;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.Jobs-error {
  color: goldenrod;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}
